@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

/* @font-face {
  font-family: product-sans;
  src: url(../fonts/Product\ Sans\ Regular.ttf);
} */

/* fonts */
/* font-family: "Nunito", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Roboto Mono", monospace; */
/* _______________________________ */

* {
  box-sizing: border-box;
}
body {
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Roboto Mono", monospace; */
  /* font-family: product-sans; */
  font-family: "Poppins", sans-serif;
  /* background-color: #2a2a72; */
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #09203f 74%);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.user-form {
  width: 100%;
  max-width: 720px;
  text-align: center;
  position: relative;
}

.user-form h1 {
  font-size: 4rem;
  margin: 0;
  width: 100%;
  text-align: center;
}

.user-form input {
  margin: 0;
  width: 100%;
  /* background-color: #12124d; */
  background-color: #0c2e5a;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-family: "Roboto Mono", monospace;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}
.user-form input:focus {
  outline: none;
}

.card {
  /* position: absolute; */
  margin: 0;
  background-color: #0c2e5a;
  display: flex;
  max-width: 720px;
  padding: 1rem;
  border-radius: 20px;
  /* margin: 0 1.5rem; */
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.avatar {
  border-radius: 100%;
  border: 10px solid #2a2a72;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repos {
  text-decoration: none;
  color: #fff;
  background-color: #2a2a72;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.repos:hover {
  opacity: 0.7;
}

@media (max-width: 762px) {
  .card {
    /* max-width: 400px; */
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: 0 2rem;
  }
  .user-form {
    max-width: 550px;
    position: relative;
    /* margin: auto; */
  }
  .user-form input {
    max-width: auto;
    margin: 0 2rem;
    margin-bottom: 1rem;
  }
  .user-form h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
